<section id="api">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
              <h2 class="section-header">API</h2>
              <hr class="dark"/>
            </div>
        </div>
        <div class="row no-gutter text-center">
            
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-164754.png" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore available samples by country of origin, collection date and taxon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-164754.png" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore available samples by country of origin, collection date and taxon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-164754.png" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore available samples by country of origin, collection date and taxon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-164754.png" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore available samples by country of origin, collection date and taxon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-164754.png" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore available samples by country of origin, collection date and taxon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-164754.png" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore available samples by country of origin, collection date and taxon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-164754.png" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore available samples by country of origin, collection date and taxon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

        
            
            
            
            
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <p style="margin-top: 1em;">
                    <a href="#todo" class="btn btn-primary btn-l">View API Docs</a>
                </p>   
            </div>
        </div>
    </div>
</section>
