<section id="api">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
              <h2 class="section-header">API</h2>
              <hr class="dark"/>
            </div>
        </div>
        <div class="row no-gutter text-center">
            
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-164754.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore available samples by country of origin, collection date and taxon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-164820.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore available samples by collection location.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/Screenshot_20230726-000827.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Compute frequencies of genetic variants in genes of interest.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-000330.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Compare the frequency of genetic variants between different geographical areas.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-230613.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Browse sequence read alignments and assess the evidence for genetic variation in individual samples.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-230748.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Locate segregating SNPs and browse site filters.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-000450.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                 Visualise sequence read coverage and evidence for copy number variation in individual samples.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-000516.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                 Visualize and compare copy number variation in multiple samples.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-230908.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                 Explore population structure with principal components analysis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-231044.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Investigate hybridisation and introgression between species with ancestry-informative markers.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-231230.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Quantify and compare genetic diversity between populations.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-231314.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                 Infer runs of homozygosity and investigate evidence for inbreeding.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <p style="margin-top: 1em;">
                    <a href="#todo" class="btn btn-primary btn-l">View API Docs</a>
                </p>   
            </div>
        </div>
    </div>
</section>
