<section id="api">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-header">API</h2>
                <p class="text-muted" style="margin-top: 1em;">
                    Built for exploratory population genomics, our cloud-native analytical software for Python supports
                    a range of data access and visualisation functions.
                </p>
                <hr class="hr-dark" />
            </div>
        </div>

        <div class="row no-gutter text-center">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-164754.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore available samples by country of origin, collection date and taxon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-164820.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore available samples by collection location.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutter text-center">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="portfolio-box">
                    <img src="img/portfolio/Screenshot_20230726-000827.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Compute frequencies of genetic variants in genes of interest.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-000330.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Compare the frequency of genetic variants between different geographical areas.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutter text-center">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230728-000012.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Analyse changes in variant frequencies over time.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-230613.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Browse sequence read alignments and assess the evidence for genetic variation in
                                individual samples.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutter text-center">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-000450.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Visualise sequence read coverage and evidence for copy number variation in individual
                                samples.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-000516.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Visualize and compare copy number variation in multiple samples.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutter text-center">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-230908.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Explore population structure with principal components analysis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-231044.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Investigate hybridisation and introgression between species with ancestry-informative
                                markers.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutter text-center">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-231230.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Quantify and compare genetic diversity between populations.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230726-231314.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Infer runs of homozygosity and investigate evidence for inbreeding.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutter text-center">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230727-235157.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Perform genome-wide selection scans to discover new resistance genes.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230727-235330.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Find genes where adaptive gene flow is occurring between countries or species.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutter text-center">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230727-235420.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Use haplotype clustering to investigate selective sweeps and gene flow within a gene of
                                interest.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="portfolio-box">
                    <img src="img/Screenshot_20230727-235748.png" alt="" class="img-responsive img-thumbnail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Use haplotype networks to explore selective sweeps and gene flow within a gene of
                                interest.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
                <hr class="hr-dark" />
                <p>
                    <a href="#todo" class="btn btn-primary btn-l">View API Docs</a>
                </p>
            </div>
        </div>
    </div>
</section>