  <aside class="bg-dark" id="data">
      <div class="container text-center">
          <div class="row">
              <h2 class="section-heading">Data resources</h2>
              <hr class="light"/>
          </div>
          <div class="row">
              <p> <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/AnophelesGambiaemosquito.jpg" width="80%"/></p>
              <h3><em>Anopheles gambiae</em> complex</h3>
              <p class="text-faded">15,036 genomes from 25 countries</p>
              <a href="#todo" class="btn btn-default btn-xl">Access data</a>   
              <!--<hr class="light">-->
          </div>
          <div class="row">
              <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Anopheles_Funetus.jpg/1280px-Anopheles_Funetus.jpg" width="80%"/></p>
              <h3><em>Anopheles funestus</em> subgroup</h3>          
              <p class="text-faded"> 656 genomes from 13 countries</p>
              <a href="#todo" class="btn btn-default btn-xl">Access data</a>   
              <!--<hr class="light">-->
          </div>
          <div class="row">
             <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Anopheles_minimus_1.jpg/1280px-Anopheles_minimus_1.jpg" width="80%"/></p>
             <h3><em>Anopheles minimus</em></h3>
              <p class="text-faded">302 genomes from 1 country</p>
              <a href="#todo" class="btn btn-default btn-xl">Access data</a>   
          </div>
      </div>
  </aside>
