  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2><em>Anopheles gambiae</em> complex</h2>
              <hr class="light">
              <p class="text-faded">Mosquitoes in the <em>Anopheles gambiae</em> species complex are major vectors of malaria in Africa. The observatory currently contains data on 15,036 genomes from 25 countries.</p>
              <a href="#todo" class="btn btn-default btn-xl">Explore Data</a>   
          </div>
      </div>
  </aside>
  <aside class="bg-light">
      <div class="container text-center">
          <div class="call-to-action">
              <h2><em>Anopheles funestus</em> subgroup</h2>
              <hr class="dark">
              <p class="text-dark">Mosquitoes in the <em>Anopheles funestus</em> species subgroup are major vectors of malaria in Africa. The observatory currently contains data on 656 genomes from 13 countries.</p>
              <a href="#todo" class="btn btn-dark btn-xl">Explore Data</a>   
          </div>
      </div>
  </aside>
