<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What do we need to know?</h2>
                <hr class="light" />
                <p>
                    <strong>We need to know how malaria is being transmitted.</strong> In particular, we
                    need a
                    complete picture of which <em>Anopheles</em> mosquito species are transmitting malaria in different
                    places, and we need to fully understand the biology of those species. We also need to
                    know how this is changing in response to interventions, urbanisation and climate change.
                </p>
                <p>
                    <strong>We need to know where and how insecticide resistance is evolving and spreading.</strong>
                    @@TODO.
                </p>
                <p>
                    <strong>We need to know how to move beyond control towards elimination.</strong> @@TODO.
                </p>
                <p>
                    By sequencing mosquitoes and making the data available for surveillance, research and education, the
                    observatory
                    provides an opportunity to learn more about the biology of malaria transmission,
                    fight back against
                    the evolution and spread of insecticide resistance, and accelerate the development of novel
                    approaches to
                    mosquito control.
                </p>
                <a href="#overview" class="btn btn-default btn-xl page-scroll">Get Started</a>
            </div>
        </div>
    </div>
</section>