<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What do we need to know?</h2>
                <p>Despite more than a century of research, we still have much to learn about the mosquitoes that
                    transmit malaria. </p>
                <hr class="light" />
                <p>
                    <strong>(1) How is malaria is being transmitted?</strong>
                </p>
                <p>We
                    need a better picture of which <em>Anopheles</em> mosquito species are transmitting malaria in
                    different places, and we need to fully understand the biology of those species. We also need to
                    know how this is changing in response to interventions, urbanisation and climate change.
                </p>
                <hr class="light" />
                <p>
                    <strong>(2) Where and how is insecticide resistance evolving and spreading?</strong>
                </p>
                <p>
                    Insecticide resistance is the biggest threat to our current front line tools for mosquito control.
                    When resistance emerges, we need to identify and characterise it quickly, assess the risk, and track
                    it as it spreads.
                </p>
                <hr class="light" />
                <p>
                    <strong>(3) How can we move beyond control towards elimination?</strong>
                </p>
                <p>Our current
                    tools for mosquito control can only take us so far. We need to invent new ways to stop mosquitoes
                    transmitting malaria, and be smart in how we use them.
                </p>
                <hr class="light" />
                <p>
                    By sequencing mosquitoes and making the data available for surveillance, research and education, the
                    observatory provides an opportunity to shed new light on these questions.
                </p>
                <a href="#overview" class="btn btn-default btn-xl page-scroll">Get Started</a>
            </div>
        </div>
    </div>
</section>