<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Data for science, public health and education</h2>
                <hr class="light">
                <p class="text-faded">The malaria vector genome observatory is a collaborative effort to sequence the genomes of thousands of <em>Anopheles</em> mosquitoes collected from natural populations in countries affected by malaria. By analysing these data we hope to fight back against the evolution and spread of insecticide resistance and accelerate the development of novel approaches to mosquito control.</p>
                <a href="#services" class="btn btn-default btn-xl">Get Started</a>
            </div>
        </div>
    </div>
</section>
