<section class="bg-dark" id="data">
  <div class="container text-center">
    <div class="row">
      <div class="col text-center">
        <h2 class="section-heading">Data</h2>
        <p>Access data from whole-genome sequencing of <em>Anopheles</em> mosquitoes.</p>
        <hr class="light" />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 col-lg-offset-2 text-center">
        <p> <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/AnophelesGambiaemosquito.jpg" width="80%" />
        </p>
        <h3><em>Anopheles gambiae</em> complex</h3>
        <p class="text-faded">15,036 genomes from 25 countries</p>
        <a href="#todo" class="btn btn-primary btn-l">View Data Docs</a>
        <hr class="light">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 col-lg-offset-2 text-center">
        <p><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Anopheles_Funetus.jpg/1280px-Anopheles_Funetus.jpg"
            width="80%" /></p>
        <h3><em>Anopheles funestus</em> subgroup</h3>
        <p class="text-faded"> 656 genomes from 13 countries</p>
        <p><a href="#todo" class="btn btn-primary btn-l">View Data Docs</a></p>
        <hr class="light">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 col-lg-offset-2 text-center">
        <p><img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Anopheles_minimus_1.jpg/1280px-Anopheles_minimus_1.jpg"
            width="80%" /></p>
        <h3><em>Anopheles minimus</em></h3>
        <p class="text-faded">302 genomes from 1 country</p>
        <p><a href="#todo" class="btn btn-primary btn-l">View Data Docs</a></p>
      </div>
    </div>
  </div>
</section>