<header>
    <div class="header-content">
        <div class="header-content-inner text-white">
            <h1>Malaria vector genome observatory</h1>
            <br />
            <p><strong>Explore the unknowns in <em>Anopheles</em> mosquito biology and control.</strong></p>
            <p>
                The observatory is a collaborative effort to sequence the genomes of thousands
                of
                <em>Anopheles</em> mosquitoes collected in countries affected by malaria,
                and use those data to help answer some of the big questions in our path towards malaria elimination.

            </p>
        </div>
        <div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>