<section id="overview">
    <div class="container">

        <!--
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Overview</h2>
                <hr class="primary">
            </div>
        </div>
        -->

        <div class="row">
            <div class="col-12 col-lg-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud text-primary"></i>
                    <h3><a href="#data" class="link-dark">Data</a></h3>
                    <p class="text-muted">Access carefully-curated data which has been optimised for analysis in the cloud.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book text-primary"></i>
                    <h3><a href="#training" class="dark">Training</a></h3>
                    <p class="text-muted">Learn how to analyse data in the observatory through our hands-on online training course.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code text-primary"></i>
                    <h3><a href="#api" class="text-dark">API</a></h3>
                    <p class="text-muted">Use our open source Python package to explore and visualise data interactively. </p>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server text-primary"></i>
                    <h3>Compute</h3>
                    <p class="text-muted">
                        Access free cloud computing services to analyse data wherever you are.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-flask text-primary"></i>
                    <h3>Research</h3>
                    <p class="text-muted">
                        Data from the observatory are powering new research into vector biology and control.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-share-alt text-primary"></i>
                    <h3>Partners</h3>
                    <p class="text-muted">
                        Scientists and engineers from around the globe are contributing samples, data and 
                        expertise to help build the observatory.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
