<section id="partners">
    <div class="container">

        <div class="row text-center">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    Partners
                </h2>
                <p>
                    Groups and individuals from around the world have contributed biological samples, sequencing
                    capacity, computational resources, time and expertise to build the observatory.
                </p>
                <p>
                    <img src="img/partners.png" class="img-responsive img-thumbnail" />
                </p>
                <p>
                    The observatory is the result of a concerted effort by multiple projects and initiatives.
                </p>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
                <p> <a href="https://www.pamca.org/" target="_blank"><img src="img/pamca-logo.png" width="200px"
                            class="img-responsive img-thumbnail" style="margin: auto;" /></a></p>
                <!--<h3><a href="https://www.pamca.org/" target="_blank">PAMCA</a></h3>-->
                <p class="text-muted">The Pan-African Mosquito Control Association (PAMCA) <em>Anopheles</em> Genomics
                    programme is working
                    to build capacity for malaria vector genomics across Africa.</p>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
                <p> <a href="https://www.anophelesgenomics.org/" target="_blank"><img src="img/gaard-logo.png"
                            width="200px" class="img-responsive img-thumbnail" style="margin: auto;" /></a></p>
                <!--<h3><a href="https://www.anophelesgenomics.org/" target="_blank">GAARD</a></h3>-->
                <p class="text-muted">The Genomics for African Anopheles Resistance (GAARD) project aims to identify new
                    genes and
                    regulatory regions associated with insecticide resistance.</p>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
                <p> <a href="https://targetmalaria.org/" target="_blank"><img src="img/target-malaria-logo.png"
                            width="200px" class="img-responsive img-thumbnail" style="margin: auto;" /></a>
                </p>
                <!--<h3><a href="https://targetmalaria.org/" target="_blank">Target Malaria</a></h3>-->
                <p class="text-muted">Target Malaria is developing innovative approaches to reduce the population of
                    malaria-transmitting mosquitoes in sub-Saharan Africa.</p>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
                <h3 class="text-primary">PAMGEN</h3>
                <p class="text-muted">The PAMGEN project is researching genetic interactions between malaria parasites,
                    vectors and human communities across different African environments.</p>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
                <p> <a href="https://www.malariagen.net/mosquito" target="_blank"><img src="img/malariagen-logo.svg"
                            width="200px" class="img-responsive img-thumbnail" style="margin: auto;" /></a>
                </p>
                <!--<h3><a href="https://www.malariagen.net/mosquito" target="_blank">MalariaGEN</a></h3>-->
                <p class="text-muted">The Malaria Genomic Epidemiology Network (MalariaGEN) aims to create genetic data
                    resources to
                    support the control and elimination of malaria.</p>
                <hr />
            </div>
        </div>

    </div>
</section>