<section class="bg-primary" id="research">

  <div class="container">

    <div class="row text-center">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          Research
        </h2>
        <p>
          Data from the observatory are powering new and ongoing research into the biology and control of malaria
          vectors.
        </p>
        <hr class="light" />
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1038/s41467-023-40693-0" class="white">Genome-wide association studies reveal
            novel loci associated with pyrethroid and organophosphate resistance
            in <em>Anopheles gambiae</em> and <em>Anopheles coluzzii</em></a></h3>
        <p>
          Lucas et al. (2023) <em>Nature Communications</em>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1101/2023.07.18.549472" class="white">Mitochondrial variation in <em>Anopheles
              gambiae</em> and <em>An. coluzzii</em>: phylogeographic legacy of species isolation and mito-nuclear
            associations with
            metabolic resistance to pathogens and insecticides</a></h3>
        <p>
          Romero et al. (2023) <em>bioRxiv</em>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1038/s42003-022-04259-y" class="white">Population genomics reveal distinct and
            diverging populations of <em>An. minimus</em> in Cambodia</a></h3>
        <p>
          St. Laurent et al. (2022) <em>Nature Communications Biology</em>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1371/journal.pgen.1009253" class="white">Resistance to pirimiphos-methyl in West
            African Anopheles is spreading via duplication and introgression of the Ace1 locus</a></h3>
        <p>
          Grau-Bové et al. (2021) <em>PLoS Genetics</em>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1111/mec.15845" class="white">The genetic architecture of target-site resistance
            to pyrethroid insecticides in the African malaria vectors Anopheles gambiae and Anopheles coluzzii</a></h3>
        <p>
          Clarkson et al. (2021) <em>Molecular Ecology</em>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1093/molbev/msaa259" class="white">Discovery of Ongoing Selective Sweeps within
            Anopheles Mosquito Populations Using Deep Learning</a></h3>
        <p>
          Xue et al. (2021) <em>Molecular Biology and Evolution</em>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1093/molbev/msaa128" class="white">Evolution of the Insecticide Target Rdl in
            African Anopheles Is Driven by Interspecific and Interkaryotypic Introgression</a></h3>
        <p>
          Grau-Bové et al. (2020) <em>Molecular Biology and Evolution</em>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1093/molbev/msz081" class="white">Robust Estimation of Recent Effective
            Population Size from Number of Independent Origins in Soft Sweeps</a></h3>
        <p>
          Khatri and Burt (2019) <em>Molecular Biology and Evolution</em>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1534/g3.118.200262" class="white">diploS/HIC: An Updated Approach to Classifying
            Selective Sweeps</a></h3>
        <p>
          Kern and Schrider (2018) <em>G3 Genes|Genomes|Genetics</em>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="TODO" class="white">@@TODO more</a></h3>
        <p>
          @@TODO
        </p>
      </div>
    </div>

  </div>

</section>