<section class="bg-primary" id="research">

  <div class="container">

    <div class="row text-center">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          Research
        </h2>
        <p>
          Data from the observatory are powering new research into the biology and control of malaria
          vectors.
        </p>
        <hr class="light" />
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1038/s41467-023-40693-0" class="white">Genome-wide association studies reveal
            novel loci associated with pyrethroid and organophosphate resistance
            in <em>Anopheles gambiae</em> and <em>Anopheles coluzzii</em></a></h3>
        <p>
          Lucas et al. (2023) <em>Nat Commun</em> <strong>14</strong>, 4946.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1101/2023.07.18.549472" class="white">Mitochondrial variation in <em>Anopheles
              gambiae</em> and <em>An. coluzzii</em>: phylogeographic legacy of species isolation and mito-nuclear
            associations with
            metabolic resistance to pathogens and insecticides</a></h3>
        <p>
          Romero et al. (2023) <em>bioRxiv</em> [preprint].
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="https://doi.org/10.1038/s42003-022-04259-y" class="white">Population genomics reveal distinct and
            diverging populations of <em>An. minimus</em> in Cambodia</a></h3>
        <p>
          St. Laurent et al. (2022) <em>Commun Biol</em> <strong>5</strong>, 1308.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h3><a href="TODO" class="white">@@TODO more</a></h3>
        <p>
          @@TODO
        </p>
      </div>
    </div>

  </div>

</section>