<section class="bg-primary" id="training">

  <div class="container">

    <div class="row">
      <div class="col">
        <h2 class="section-heading">
          Training
        </h2>
        <hr class="light"/>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <img src="../img/Screenshot_20230723-220039.png" width="80%"/>
      </div>
      <div class="col-lg-6">
        32 training modules organised into 8 workshops introduce the biology, technology, data and analytical methods ingolved in genomic surveillance of <em>Anopheles</em> mosquitoes.
        
      </div>
      
    </div>

  </div>

</section>
