<section class="bg-primary" id="training">

  <div class="container">

    <div class="row text-center">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          Training
        </h2>
        <p>
          Learn about the biology, technology, data and analytical methods involved
          in genomic surveillance of <em>Anopheles</em> mosquitoes.
        </p>
        <hr class="light" />
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
        <img src="img/Screenshot_20230723-220039.png" class="img-responsive img-thumbnail" width="80%"
          style="margin-bottom: 1em;" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
        <hr class="light" />
        <p>
          Video lectures in French or English and notebooks with executable code examples.
        </p>
        <p>
          Study at your own pace, or enroll in an online course to learn alongside others
          with support from experienced teaching assistants.
        </p>
      </div>
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
        <p>
          <a href="#todo" class="btn btn-default btn-l">Visit Course Website</a>
        </p>
      </div>

    </div>

  </div>

</section>